button 
{
	width:120px;
 	height:30px;
	font-size: 16px;
}

div.title
{
	margin: 10px 0px;
	font-weight:bold;
	font-size: 24px;
}
div.main
{
	background-color: #D0D0D0;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow:
		inset 0 2px 3px rgba(255,255,255,0.3),
    	inset 0 -2px 3px rgba(0,0,0,0.3),
    	0 1px 1px rgba(255,255,255,0.9);
    	
	margin: 0 auto; 
	position: relative; 
	top:10px; 
	left:0px; 
	width:1100px;
	height:670px; 
}

div.block 
{
	background-color: #C0C0C0;
	margin:0px 0px 10px 0px;
	padding:5px 5px 5px 5px;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow:
		inset 0 2px 3px rgba(255,255,255,0.3),
    	inset 0 -2px 3px rgba(0,0,0,0.3),
    	0 1px 1px rgba(255,255,255,0.9);
}

div.loading
{
	background-color:#F8F8F8 ;
	width:500px;
	height: 200px;
	padding: 100px 0px 0px 0px;
	font-weight:bold;
	font-size: 50px;
	text-align:center;
}

.block-name
{
	color:blue;
	font-style: italic;
	font-size: 16px;

}

.param-status
{
	color:red;
}

.slider
{
	width:200px;
}
.slider-axis-label
{
	color:green;
}

input.texture-spinner
{
	width:40px;
}

img.texture-preview
{
	 width:120px;
	 height:50px;
}

tr.texture-panel-title
{
	color:#008000;
}
